<mat-card>
  <mat-card-title>Messages</mat-card-title>
  <mat-card-content fxLayout="column"
                    fxLayoutGap="10px"
  >
    <div *ngFor="let message of (messages | async)"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="8px"
    >
      <button type="button"
              mat-stroked-button
              color="warn"
              *ngIf="(user | async)?.role === 'admin'"
              (click)="onRemove(message._id)"
      >Remove</button>
      <strong>{{ message.user.displayName }}</strong>
      <span>{{ message.message }}</span>
    </div>
  </mat-card-content>
</mat-card>
