<mat-card>
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        fxLayout="column"
  >
    <mat-form-field appearance="outline">
      <mat-label>Select username</mat-label>
      <mat-select name="recipient" ngModel>
        <mat-option>-</mat-option>
        <mat-option *ngFor="let user of (users | async)" [value]="user._id">
          {{ user.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="message-line" fxLayout="row" fxLayoutGap="16px">
      <mat-form-field appearance="outline">
        <mat-label>Enter message</mat-label>
        <input type="text"
               name="message"
               matInput
               ngModel
               #message="ngModel"
               required
        />
        <mat-error *ngIf="message.touched && message.hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>
      <button type="submit"
              mat-stroked-button
              color="primary"
              [disabled]="f.invalid"
      >Send</button>
    </div>
  </form>
</mat-card>
